body {
  text-align: center;
}

h3 {
  color: rgb(84, 83, 83);
}

.about-me {
  color: white;
  background: blueviolet;
  padding: 20px 15px;
  margin: 20px;
  border: 1px solid blueviolet;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.info-me {
  color: blueviolet;
  background: white;
  padding: 20px 15px;
  margin: 20px;
  border: 1px solid blueviolet;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
